body {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    overflow-y: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

#container {
    height: 100vh;
    overflow-y: auto;
}

#claim-text-wrapper {
    position: relative;
    max-width: 475px;
    padding: 32px;
    margin: 20px auto; /* Centralizando a área de texto */
    border-radius: 10px;
    color: #f1f1f1;
    font-family: "Lexend Deca", sans-serif;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: rgba(14, 14, 14, 0.7);
}

@supports ((--webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #claim-text-wrapper {
        background: rgba(0, 0, 0, 0.5);
        --webkit-backdrop-filter: blur(1em);
        backdrop-filter: blur(1em);
    }
}

/* Restante do seu CSS permanece inalterado */

/*
    Background CSS
*/

#background-video {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/*
    | = = = | Phone Version | = = = | 
*/

@media screen and (max-width: 450px) {
    #payment-info {
        flex-wrap: wrap;
    }

    #claim-text-wrapper #payment-info {
        margin: 12px;
    }

    #price-img {
        margin: auto;
    }

    #claim-text-wrapper #payment-info #payment-info-text {
        text-align: start;
        margin-top: 10px;
        margin-left: 0px;
        width: 100%;
    }

    .social_medias {
        margin-top: 10px;
    }

    .content {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 110);
    }
}
